body {
background-color:goldenrod;
color: #333;
font-family: Arial, sans-serif;
}

h1, h2, h3 {
color: red;
}

a {
color: #2980b9;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.highlight {
background-color: yellow;
}

#main-title {
text-align: center;
color: purple;
}
