body {
  font-family: Arial, sans-serif; 
  background-image: url("/Lab04/images/back.png");      
  color: brown;                     
  margin: 20px;
}

header {
  background-color: #2c3e50;       
  color: beige;                    
  text-align: center;             
  border-radius: 15px; 
}

nav a {
    text-align: center;
  color: white;                              
  margin: 0 10px;                 
}

.nav-menu li {
  display: inline-block;
  margin: 0 15px;
}

.nav-menu a {
  color: white;
  font-weight: bold;
}

.nav-menu a:hover {
  text-decoration: underline;
}

table {                    
  border-collapse: collapse;       
  margin: 25px 0;
  min-width: 400px;
}

th, td {
  border: 1px solid gray;         
  padding: 10px;                   
  text-align: center;             
} 

thead tr {
  background-color: red;
  color: white;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background: white;
  border-radius: 6px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
  background: rgb(4, 57, 77);
  padding: 2px;
  border-radius: 5px;
}


@media (max-width: 600px) {

  body {
    margin: 10px;
  }

  nav {
    text-align: center;
  }

  nav a {
    display: block;     
    margin: 10px auto;
    width: 90%;
    padding: 10px;
  }

  main {
    width: 95%;
    padding: 15px;
  }

  table {
    font-size: 14px;
    min-width: 100%;   
    overflow-x: auto;
    display: block;
  }

  header h1 {
    font-size: 24px;
  }
}
