body {
  font-family: Arial, sans-serif;
  background-image: url("image/VCDI.png");
}

header {
  background-color: #2c3e50;
  color: beige;
  padding: 20px;
  text-align: center;
}


.nav-menu li {
  display: inline-block;
  margin: 0 15px;
}

.nav-menu a {
  color: white;
  font-weight: bold;
}

.nav-menu a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background: white;
  border-radius: 6px;
}

p {
  margin-bottom: 15px;
}
