
body {
    font-family: Arial, sans-serif;
    background-color: lightgoldenrodyellow;
    color: #333;
}

#main-title {
    color: darkblue;
}

h2 {
    color: darkred;
}

h3, h4 {
    color: green;
}

p {
    margin-bottom: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: darkorange;
    text-decoration: underline;
}

.blog-post {
    background-color: #fff8dc;
}

footer {
    background-color: darkblue;
    color: white;
    text-align: center;
}

