body {
    font-family: Arial, sans-serif;
   background-image: url("images/back.png");
    color: #480505;
}

h1 {
    color: #2c3e50;
}

p {
  
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
    background: #3498db;
    padding: 10px 15px;
    border-radius: 5px;
}
